* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(3, 3, 3);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 9, 9);
    margin-bottom: 50px;

}

header h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    
    
}

header img {
    height: 100px;
    
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    

}

form {
    width: 100%;
    display: flex;
    align-items: center;
   
    
    margin: 20px 0;
    margin-bottom: 50px;
}

form input {
    margin-right: 10px;
    height: 25px;
    width: 250px;
    outline: none;
    border: 3px solid;
    border-radius: 3px;
    padding-left: 3px;
}

form input:focus {
    border: 3px solid rgba(16, 53, 200);
}

button {
    text-align: center;
    font-weight: 700;
    background-color: greenyellow;
    outline: none;
    border: none;
    width: 150px;
    height: 25px;
    border-radius: 1px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(113, 255, 47);

}

table {
    width: 100%;
    
}

table th {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-radius: 1px;
    background-color: rgba(16, 53, 200, 0.5);
    color: white;
    font-size: 20px;
    

    
   
}

table td {
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    font-weight: bolder;
    text-transform: capitalize;
    color: white;
    max-width: 100px;
    background-color: rgba(13, 16, 16, 0.5);

    
}

#tfoot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 39, 38);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    border: none; 
    border-radius: 1px;
    height: 30px;
    
    
}
